

<h1 class= "index-title">Tweets</h1>

<% @tweets.each do |tweet| %>
  <div class= "pic-and-body d-flex align-content-center w-100">
    <div class = "pic-and-names d-flex justify-content-center align-content-center">
      <div class= "pic">
        <%= image_tag display_photo(tweet.user), class: "tweet-pic" %>
      </div>
      <div class= "names d-flex">
        <p class= "username-n"><bold> <%= tweet.user.username %></bold> </p>
      </div>
    </div>
    <%= link_to tweet_path(tweet) do %>
      <div class= "tweet-body">
        <%= tweet.body %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'New Tweet', new_tweet_path, class: "new_tweet_btn" %>
