<p id="notice"><%= notice %></p>

<div class= "pic-and-body">
    <div class = "pic-and-names d-flex">
      <div class= "pic">
        <%= image_tag display_photo(@tweet.user), class: "tweet-pic" %>
      </div>
      <div class= "names">
        <p class= "username-n"> <% @tweet.user.username %> </p>
        <p class= "fullname-n"> <% @tweet.user.fullname %> </p>
      </div>
    </div>
    <div class= "body">
      <%= @tweet.body %>
    </div>
  </div>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
